#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9E7BD;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#img-con {
    padding-right: 25px;
}

