#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9E7BD;
}

img {
    max-width: 100%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#img-con {
    padding-right: 25px;
}

