#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9E7BD;
    padding-top: 10px;
    padding-bottom: 10px;
}


#img-con {
    padding-right: 25px;
}

.restaurantText{
    background: #DEB887;
    color : white;
}

