.name {
    color: black;
    text-align: center;
}

.restaurant{
    background-color: #F9E7BD;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}